.btn {
    &:link, &:visited, & {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block; /*  btn is inline element as deafult, but this way the box model works on this element as if it was a normal block element */
        border-radius: 10rem;
        transition: all .2s;     /* all properties are allowed to be animated, transition always has to be on the initial state */
        position: relative;
        font-size: $default-font-size; /* original font-size, user agent using16px, before we set rem units */

        // change for the <button> element
        // style only applies for link and visited pseudo class, original btn--green was an <a> html tag earlier, we need to extend selector with "&", so style applies to button elements as well
        border: none;
        cursor: pointer;
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black, 0.25);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active, &:focus {
        transform: translateY(-1px);
        box-shadow: 0 0.5rem 1rem rgba($color-black, 0.25);
    }

    &--white {
        background: $color-white;
        color: $color-grey-dark;

        &::after {
            background: $color-white;
        }
    }

    &--green {
        background: $color-primary;
        color: $color-white;

        &::after {
            background: $color-primary;
        }
    }

    /* pseudo element acts like a child of the element, so the 100% width and height refers to the button sizes */
    &::after {
        content: '';
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all 0.4s;
    }

     &--animated {
        animation: moveInBottom 1s ease-out .75s;
        animation-fill-mode: backwards;
    }
}

.btn-text {
    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 3px;
        transition: all .2s;
    }

    &:hover {
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: translateY(-2px);   
    }

    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-black, .15);
        transform: translateY(0);
    }
}