.form {

    &__group:not(:last-child) {
        margin-bottom: 2rem;
    }

    &__label {
        font-size: 1.2rem;
        font-weight: 700;
        margin-top: .7rem;
        display: block;
        transition: all .3s;
    }

    &__input {
        font-size: 1.5rem;
        font-family: inherit;
        color: inherit;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: rgba($color-white, .5);
        border: none;
        border-bottom: 3px solid transparent; // border to the initial state as well, otherwise when focused, label text moves down a bit because of the 3px border added on focus
        width: 90%;
        display: block;
        transition: all .3s;

        @include respond(tab-portrait) {
            width: 100%;
        }

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, .1);
            border-bottom: 3px solid $color-primary; // for accessibility reasons, users need to know which form elements are focused
        }

        // orange border, when input is invalid
        &:focus:invalid {
            border-bottom: 3px solid $color-secondary-dark;
        }

        // placeholder pseudo element!
        &::-webkit-input-placeholder {
            color: $color-grey-dark-2;
        }
    }

    // when the placholder is shown (we didnt write anything in the input yet, label should be hidden
    &__input:placeholder-shown + &__label {
        opacity: 0;     // opacity can be animated, visibility cant
        visibility: hidden; // if we only set opacity, element would still be on the page, but only invisible
        transform: translateY(-4rem);
    }

    &__radio-group {
        width: 49;
        display: inline-block;

        @include respond(tab-portrait) {
            width: 100%;
            margin-bottom: 2rem;
        }
    }

    &__radio-label {
        font-size: $default-font-size;
        cursor: pointer;
        position: relative;
        padding-left: 4.5rem;
    }

    &__radio-button {
        height: 3rem;
        width: 3rem;
        border: 5px solid $color-primary;
        border-radius: 50%;
        display: inline-block; // properties above work only for block or inline-block elements
        position: absolute;
        left: 0;
        top: -.5rem;

        &::after {
            content: '';
            display: block;
            height: 1.3rem;
            width: 1.3rem;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $color-primary;
            opacity: 0;
            transition: opacity .3s;
        }
    }

    &__radio-input:checked + &__radio-label &__radio-button::after {
        opacity: 1;
    }

    &__radio-input {
        opacity: 0;
        visibility: hidden;
    }
    
}