.story {
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color-black, .1);
    background-color: rgba($color-white, .6);
    border-radius: 3px;
    padding: 6rem;
    padding-left: 9rem; // after translating the circle with -3rem, the story box isnt centered, circle moved to the left edge of box(-3rem), so need extra padding: 6rem + 3rem = 9rem
    font-size: $default-font-size;
    transform: skewX(-12deg);

   /*  & > * {
        transform: skewX(12deg);    // doesnt work on __shape, there is already transform on that element, you cant have 2, the original takes presedence over this one
        // you cant have 2 transform properties currently in CSS on elements, so we have to add them manually for each elements
    }  */

    @include respond(tab-portrait) {
        width: 100%;
        padding: 4rem;
        padding-left: 7rem;
    }

    @include respond(phone) {
        transform: skewX(0);
    }

    &__shape {
        width: 15rem;
        height: 15rem;
        float: left;
        // shape-outside defines where the content floats around the element
        shape-outside: circle(50% at 50% 50%); // shape-outside only works if the element is floated AND also has widht + height
        clip-path: circle(50% at 50% 50%);  // to make element actually look like a circle
        transform: translateX(-3rem) skewX(12deg);   // on floated elements it's best not to use margins
        position: relative;

        @include respond(phone) {
            transform: translateX(-3rem) skewX(0);
        }
    }

    &__image {
        height: 100%;
        transform: translateX(-4rem) scale(1.4);
        backface-visibility: hidden;
        transition: all .5s;
    }

    &__text {
        transform: skewX(12deg);

        @include respond(phone) {
            transform: skewX(0);
        }
    }

    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        opacity: 0;
        color: $color-white;
        text-transform: uppercase;
        font-size: 1.7rem;
        text-align: center;
        transition: all .5s;
        backface-visibility: hidden; // to fix the little shaking effect at the end of animation 
    }

    &:hover &__caption {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    &:hover &__image {
        filter: blur(3px) brightness(80%);
        transform: translateX(-4rem) scale(1);
    }
}